/* Общи стилове */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
}


.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-link {
    font-size: 1rem;
    margin-right: 1rem;
}

.nav-link:hover {
    color: #007bff !important;
}

/* Основно съдържание */
.container {
    margin-top: 2rem;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 1.5rem;
    text-align: center;
}

/* Таблица */
.table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: #fff;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    background-color: #343a40;
    color: #fff;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.table-bordered {
    border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6;
}

/* Бутони за действие */
.action-buttons {
    display: flex;
    gap: 10px;
}

.action-buttons .btn {
    padding: 5px 10px;
    font-size: 14px;
}

.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #000;
}

.btn-warning:hover {
    background-color: #e0a800;
    border-color: #d39e00;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #0e0e0d;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

/* Стилове за бутона */
button {
    background-color: #ffc107; /* Жълт цвят */
    border: none; /* Премахване на границата */
    padding: 1px 1px; /* Подходящ padding */
    color: #000; /* Черен текст */
    font-size: 13px; /* Размер на текста */
    cursor: pointer; /* Показване на курсор при hover */
    border-radius: 5px; /* Закръглени ъгли */
    display: flex; /* Подреждане на иконата и текста в един ред */
    align-items: center; /* Центриране на иконата и текста вертикално */
    gap: 8px; /* Разстояние между иконата и текста */
}

/* Стилове за иконата */
button i {
    color: #000; /* Черен цвят за иконата */
    background-color: transparent; /* Прозрачен фон за иконата */
}

/* Футер */
footer {
    background-color: #343a40;
    color: #fff;
    padding: 1rem 0;
    margin-top: 2rem;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

footer p {
    margin-bottom: 0;
    font-size: 0.9rem;
}
.back-button-container {
    margin-top: 30px;
    text-align: center;
}
.action-buttons {
    display: flex;
    gap: 5px;
    justify-content: center;
}

