<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/favicon-32x32.png}">
  <title>User List</title>
  <link rel="stylesheet" th:href="@{/css/users.css}"> <!-- Връзка към CSS файла -->
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">Bookstore</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" th:href="@{/home}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" th:href="@{/books/register}">New Book Register</a>
        </li>

      </ul>
    </div>
  </div>
</nav>


<div class="container mt-5 text-center" >
  <h2 class="text-center mb-4">User List</h2>
  <table class="table table-striped table-bordered">
    <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Country</th>
      <th>Created On</th>
      <th>Role</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <!-- Примерни данни (заменете с Thymeleaf) -->
    <tr th:each="user : ${users}">
      <td th:text="${user.id}"></td>
      <td th:text="${user.firstName}"></td>
      <td th:text="${user.lastName}"></td>
      <td th:text="${user.email}"></td>
      <td th:text="${#strings.capitalize(#strings.toLowerCase(user.country.name()))}"></td>
      <td th:text="${#temporals.format(user.createdOn, 'dd MMM yyyy ')}"></td>
      <td th:text="${#strings.capitalize(#strings.toLowerCase(user.role.name()))}"></td>
      <td>
        <div class="action-buttons">

          <form th:action="@{'/users/' + ${user.id} + '/role'}" th:method="PUT" class="btn btn-warning">
            <button type="submit" >
            <i class="fa-solid fa-toggle-on"></i> Switch Role
            </button>
          </form>


          <form th:action="@{'/users/' + ${user.id} + '/delete'}" th:method="DELETE" style="display: inline;">
            <button type="submit" class="btn btn-danger">
              <i class="fas fa-trash"></i> Delete
            </button>
          </form>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>


<footer class="bg-dark text-white text-center py-3 mt-5">
  <p>&copy; 2025 Literary Escape. All rights reserved.</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>